* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --clr-primary: #678e3e;
  --clr-primary-light: #eaf3e1;
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --transition: all 0.3s linear;
}
body {
  background: var(--clr-primary-light);
}
input, textarea{
  display: block;
  border: none;
  border-radius: 2px;
  margin: 0.25rem auto;
  width: 20rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  padding: 0.5rem;
}
.btn {
  background: rgba(111,207,135,1);
  color: var(--clr-grey-10);
  transition: var(--transition);
  cursor: pointer;
}
.btn:hover {
  background: rgba(111,207,135,2);
}
.complete-center {
  display: grid;
  place-items: center;
  height: 100vh;
}
.ngo-img {
  height: 100%;
}
/* .form-center {
  background: var(--clr-grey-9);
  display: grid;
  place-items: center;
  width: 100%;
  width: 40rem;
} */
.proper-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
}
