.navbar{
    display: flex;
    background-color: rgb(111,207,135);
    color: whitesmoke;
}
.navbar-title{
    display: flex;
    align-items:center;
    padding-left:5%;
}
.navbar_links{
    display: flex;
    align-items:center;
    margin-left: auto;
    text-decoration: none;
    margin-right: 15%;
}
.navbar_link{
    margin-right: 35%;
}